.app-background {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  padding: 50px;
}

.app-container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom right,
    #9796f0 0.5%,
    #fbc7d4 150%
  );
  min-height: 100vh;
}
.emoji-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emoji-game-body {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
}
.emojis-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
  margin-top: 40px;
  margin-bottom: 40px;
}
