.nav-container {
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}
.logo-name {
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
  color: white;
}
.name {
  font-family: Roboto;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}
@media (max-width: 576px) {
  .nav-container {
    width: 100%;
  }
  .logo-image {
    height: 30px;
    width: 30px;
  }
  .logo-name {
  font-size: 15px;
}
.container {
  margin-left: 10px;
  margin-right: 10px;
}
.name {
  font-size: 12px;
  color: white;
  margin-right: 10px;
}
}
